.light,
.dark {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: clip;
}

.light {
    color: #222;
    background-color: #fff;
}

.dark {
    color: #fff;
    background-color: #000;
}
